
body {
    background-color: #3f3f3f;
    font-family: "Inter", sans-serif;
}

p {
    text-align: center;
    font-size: 24px;
    color: #f9f9f9;
}

td.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3f3f3f;
    min-width: 124px;
}

td.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #3f3f3f;
    padding-left: 16px;
    text-align: left;
}

.row_0 {
    height: 162px;
}

.row_100 {
    height: 243px;
}

.row_200 {
    height: 324px;
}

.center {
    text-align: center;
}

.panel {
    text-align: center;
    background-color: #5e5e5e;
    border-radius: 8px;
    min-width: 688px;
}

.basic_title {
    text-align: center;
    font-size: 32px;
    color: #f9f9f9;
}

.set_input {
    width: 160px;
    height: 48px;
    font-size: 40px;
    color: #f9f9f9;
    background-color: #3f3f3f;
    border-radius: 8px;
    text-align: center;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 1%;
}

.plate_selector {
    text-align: left;
    max-height: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    vertical-align: middle;
}

.plate_selector_text {
    font-size: 48px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 0;
    width: 156px;
    vertical-align: middle;
}

.plate_selector_text_left {
    font-size: 48px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 48px;
    margin-top: 2px;
    margin-bottom: 0;
    width: 156px;
    vertical-align: middle;
}

.plate_selector_button {
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 4px;
    color: #1e344d;
    background-color: #5d99df;
    border: 0;
    border-radius: 8px;
    padding-left: 0;
    padding-right: 0;
    max-width: 60px;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
}

.add_set {
    background-color: #3f3f3f;
    border-radius: 4px;
    width: 20;
    height: 20;
}

.weight_display_module_container {
    display: table-row;
    min-width: 688px;
    width: 100%;
    height: 162px;
    vertical-align: middle;
}

.weight_display_text {
    text-align: left;
    display: inline;
    vertical-align: middle;
    font-size: 52px;
}

.weight_display_text_container {
    height: 100%;
    vertical-align: middle;
    width: fit-content;
    display: inline;
}

.plate_display {
    display: inline;
    min-width: 460px;
    width: 75%;
    text-align: left;
    margin-left: 10%;
    vertical-align: middle;
    position: absolute;
    left: 124px;
}

.plate_display_module {
    display: inline-block;
    min-width: 140px;
    max-width: 140px;
    max-height: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: #2f2f2f;
    border-radius: 8px;
    margin: 5px;
}

.plate_display_text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 38px;
}

#set_display {
    height: 128px;
}

#menu_button {
    background-color: #717171;
    color: #6bafff;
    font-size: 36px;
    border-radius: 8px;
    border: 0;
    height: 60px;
    display: inline;
    position: absolute;
    right: 12px;
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 50px;
}

#total_button {
    height: 60px;
    min-width: 196px;
}

#total_button_container {
    max-height: 90px;
}

#weight_list {
    text-align: center;
}

#selector_55_text {
    color: #c1c1c1;
}

#menu_slice {
    text-align: left;
    background-color: #717171;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    vertical-align: middle;
}

#header_slice {
    height: 60px;
    margin: -8px;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 30px;
    background-image: linear-gradient(#5e5e5e, #3f3f3f);
}

#unit_switcher {
    float: right;
    color: #f9f9f9;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    background-color: #5d99df;
    border-radius: 8px;
    border: 0;
}

#pounds {
    color: #f9f9f9;
}

#kilos {
    color: #f9f9f9;
    opacity: 0.5;
}

#slash {
    color: #f9f9f9;
    opacity: 0.5;
}

#title {
    font-size: 56px;
    float: left;
    margin: 0;
    color:#5d99df;
}

#plate_title {
    color: #f9f9f9;
    font-size: 56px;
    display: inline-block;
    margin: 12px;
}

#plate_descriptor {
    color: #f9f9f9;
    font-size: 36px;
    margin: 12px;
}

#menu_container {
    text-align: left;
    display: inline-block;
}

#weight_label {
    color: #f9f9f9;
    font-size: 48px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#weight_list_container {
    background-color: #5e5e5e;
    border-radius: 8px;
    padding: 5px;
    margin-top: 24px;
}

#weight_list {
    border-spacing: 16px;
}